@import "./lib/core/reset"

@import "./usage/swiper.css"

@import "./usage/common/common.css"

@import "./usage/modules/guide"
@import "./usage/modules/list"

@import "./usage/modules/home"
@import "./usage/modules/host"
body,html,#box
  height: 100%
  width: 100%
  overflow: hidden


