<div id="guide">
    <div class="swiper-container swiper-o">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="./img/slide1.png" alt=""/>
            </div>
            <div class="swiper-slide">
                <img src="./img/slide2.png" alt=""/>
            </div>
            <div class="swiper-slide">
                <img src="./img/slide3.png" alt=""/>
            </div>
            <div class="swiper-slide">
                <img src="./img/slide4.png" alt=""/>
                <div class="guide-but" ui-sref="list"></div>
            </div>
        </div>
    </div>

</div>
